body{
    font-family: "Times New Roman", serif;
    background-color: #F2FFFC;
}

h1{
    color: #FFFFFF;
    text-align: center;
    background-color: #85194;
}

h1, h2 {
    font-family: "Arial", sans-serif;
}

p{
    text-align: justify;
}
